.header__lang-link {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  text-decoration-line: none;
  color: #fff;
  transition: opacity .2s linear;
}

.header__lang-link:hover {
  opacity: 0.8;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}