.place__title {
  margin: 0;
  padding: 0;
  font-weight: 900;
}

@media screen and (min-width: 1280px) {
  .place__title {
    width: 460px;
    font-size: 72px;
    line-height: 76px;
    align-self: end;
  }

}

@media screen and (min-width: 1024px) and (max-width: 1279px){
  .place__title {
    width: 440px;
    font-size: 72px;
    line-height: 76px;
    align-self: end;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .place__title {
    font-size: 42px;
    line-height: 46px;
    align-self: end;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px){
  .place__title {
    width: 288px;
    font-size: 32px;
    line-height: 35px;
    align-self: end;
    margin: 0 auto;
  }
} 
