

@media screen and (min-width: 1280px) {
  .places {
    width: 984px;
    margin: 92px auto;
  }

} 

@media screen and (min-width: 1024px) and (max-width: 1279px){
  .places {
    width: 928px;
    margin: 92px auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .places {
    width: 720px;
    margin: 88px auto 90px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px){
  .places {
    width: 320px;
    margin: 64px auto 66px;
  }
} 
