.cover__subtitle {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1280px) {
  .cover__subtitle {
    width: 360px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    z-index: 1;
  }

} 