.cover__subtitle {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #FFFFFF;
  z-index: 1;
}

@media screen and (min-width: 1280px) {
  .cover__subtitle {
    width: 360px;
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
  .cover__subtitle {
    width: 360px;
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .cover__subtitle {
    width: 360px;
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px){
  .cover__subtitle {
    width: 288px;
    font-size: 14px;
    line-height: 114%;
  }
}