.place__website__url-heading {
  color: #AAAAAA;
}

@media screen and (min-width: 1280px) {
  .place__website__url-heading {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
  }

} 

@media screen and (min-width: 1024px) and (max-width: 1279px){
  .place__website__url-heading {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
  }
} 