.place__website__link {
  text-decoration-line: underline;
  color: #FFFFFF;
}

@media screen and (min-width: 1280px) {
  .place__website__link {
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
  .place__website__link {
    font-size: 18px;
    line-height: 22px;
  }
} 