.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 1280px) {
  .header {
    width: 1184px;
    margin: 28px auto 0;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .header {
    width: 928px;
    margin: 28px auto 0;
  }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    width: 720px;
    margin: 28px auto 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    width: 288px;
    margin: 16px auto 0;
  }
}