.footer__link {
  color: #fff;
  text-decoration: none;
  transition: opacity .2s linear;
}

.footer__link:hover {
  opacity: 0.5;
}

@media screen and (min-width: 1280px) {
  .footer__link {
    font-size: 16px;
    line-height: 18px;
    margin-left: 18px;
  }

  .footer__link:first-child {
    margin-left: 0;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .footer__link {
    font-size: 16px;
    line-height: 18px;
    margin-left: 18px;
  }

  .footer__link:first-child {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer__link {
    font-size: 16px;
    line-height: 18px;
    margin-left: 18px;
  }

  .footer__link:first-child {
    margin-left: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
    margin-top: 32px;
  }

  .footer__link:first-child {
    margin-top: 0;
  }
}