.intro__text {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 163%;
}

@media screen and (min-width: 1280px) {
  .intro__text {
    font-size: 16px;
    line-height: 163%;
    margin: 40px 0 33px;
  }
}