.intro__text {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 163%;
  margin: 40px 0 33px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .intro__text {
    margin: 40px 0 34px;
  }
}