@media screen and (min-width: 1280px) {
  .intro {
    width: 690px;
    margin: 92px 442px 92px 148px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .intro {
    width: 690px;
    margin: 92px 286px 92px 48px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .intro {
    width: 720px;
    margin: 88px auto;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .intro {
    width: 288px;
    margin: 64px auto;
  }
}