.lead__subtitle {
margin: 0;
padding: 0;
font-size: 30px;
line-height: 36px;
text-align: center;
}

@media screen and (min-width: 1280px) {
  .lead__subtitle {
    margin: 32px auto 0;
    width: 640px;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
  .lead__subtitle {
    margin: 32px auto 0;
    width: 640px;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    }

} 
