.cover {
  margin: 0 auto 92px;
}

@media screen and (min-width: 1280px) {
  .cover {
    width: 92.5%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover {
    width: 100%;
    margin: 0 auto 88px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cover {
    width: 100%;
    margin: 0 auto 64px;
  }
}