.cover__background {
  background-image: linear-gradient(rgba(42, 44, 47, 0.3), rgba(42, 44, 47, 0.3)), url(../../../images/cover-trains.jpg);
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.cover__background:hover {
  background-image: linear-gradient(rgba(42, 44, 47, 0.8), rgba(42, 44, 47, 0.8)), url(../../../images/cover-trains.jpg);
}

@media screen and (min-width: 1280px) {
  .cover__background {
    width: 92.5%;
    max-width: 1184px;
    height: 740px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover__background {
    width: 100%;
    max-width: 1024px;
    height: 640px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover__background {
    width: 100%;
    max-width: 768px;
    height: 480px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cover__background {
    width: 100%;
    max-width: 320px;
    height: 200px;
  }
}