.lead__caption {
margin: 0;
padding: 0;
font-size: 10px;
line-height: 14px;
letter-spacing: 1.5px;
text-transform: uppercase;
}

@media screen and (min-width: 1280px) {
  .lead__caption {
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
  .lead__caption {
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    }
} 