.footer {
  width: 720px;
  display: flex;
  margin: 0 auto 24px;
  padding: 0;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (min-width: 1280px) {
  .footer {
    flex-direction: row;
    width: 1184px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .footer {
    flex-direction: row;
    width: 928px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer {
    flex-direction: row;
    width: 720px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer {
    flex-direction: column;
    width: 186px;
    min-height: 310px;
    margin-left: 16px;
  }
}